################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WeekPractice/FileContentIndex
/.vs/WeekPractice/v17/TestStore/1/testlog.manifest
/DevPractices/obj/Debug/net7.0-windows/DevPractices_mgpf0k4i_wpftmp.AssemblyInfo.cs
/DevPractices/obj/Debug/net7.0-windows/DevPractices_mgpf0k4i_wpftmp.AssemblyInfoInputs.cache
/DevPractices/obj/Debug/net7.0-windows/DevPractices_mgpf0k4i_wpftmp.assets.cache
/DevPractices/obj/Debug/net7.0-windows/DevPractices_mgpf0k4i_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/.vs/ProjectEvaluation/weekpractice.metadata.v6.1
/.vs/ProjectEvaluation/weekpractice.projects.v6.1
/.vs/WeekPractice/DesignTimeBuild/.dtbcache.v2
/.vs/WeekPractice/v17/.futdcache.v2
/.vs/WeekPractice/v17/.suo
*.testlog
*.cache
/NUnitTestProject/obj/Debug/net7.0/NUnitTestProject.csproj.AssemblyReference.cache
/DevPractices/obj/Debug/net7.0-windows/MainWindow.g.i.cs
/DevPractices/obj/Debug/net7.0-windows/App.g.i.cs
/DevPractices/obj/Debug/net7.0-windows/DevPractices_MarkupCompile.i.cache
/DevPractices/obj/Debug/net7.0-windows/DevPractices_MarkupCompile.i.lref
/AlgorithmsApp/obj/Debug/net7.0/AlgorithmsApp.csproj.AssemblyReference.cache
/AlgorithmsApp/obj/Debug/net7.0/AlgorithmsApp.assets.cache
/DevPractices/obj/Debug/net7.0-windows/DevPractices.csproj.AssemblyReference.cache
/TestProject/obj/Debug/net7.0/TestProject.csproj.AssemblyReference.cache
/TestProject/obj/Debug/net7.0/TestProject.assets.cache
/Patterns/obj/Debug/net7.0/Patterns.assets.cache
/NUnitTestProject/obj/Debug/net7.0/NUnitTestProject.assets.cache
/DevPractices/obj/Debug/net7.0-windows/DevPractices.assets.cache
/Patterns/obj/Debug/net7.0/Patterns.csproj.AssemblyReference.cache
