################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WeekPractice/FileContentIndex
/.gitignore
